RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)/?$ router.php?className=$1 [L]
RewriteRule ^([^/]+)/([^/]+)?$ router.php?className=$1&methodName=$2 [L]
RewriteRule ^([^/]+)/([^/]+)/([\w\d\s/]+)$ router.php?className=$1&methodName=$2&parameters=$3 [L]
